#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Do not ignore primefaces!!
!primefaces-6.1.jar

# Maven 
target/
    
# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
core
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
!nbproject/project.xml


nbproject/private/private.properties
nbproject/project.properties
nbproject/private/private.xml
nbproject/private/private.properties

# not sure
DaeProject-ejb/setup
DaeProject-ejb/src/conf


#java specific
*.class

# OS
.DS_Store

# Misc
*.swp
*.so
*.log
*.out
*~
*.lock
release.properties
pom.xml.releaseBackup
pom.xml.tag

DaeProject/DaeProject-ejb/nbproject/genfiles.properties
DaeProject/DaeProject-ejb/nbproject/private/private.properties
DaeProject/DaeProject-ejb/nbproject/private/private.xml
DaeProject/DaeProject-war/nbproject/build-impl.xml
DaeProject/DaeProject-war/nbproject/project.properties
DaeProject/DaeProject-war/nbproject/private/private.properties
DaeProject/nbproject/private/private.properties
DaeProject/DaeProject-war/nbproject/genfiles.properties
DaeProject/DaeProject-war/nbproject/project.xml
DaeProject/DaeProject-war/nbproject/private/private.xml
DaeProject/primefaces-6.1.jar
DaeProject/modelmapper-1.1.0.jar
