/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2017, 2:11:47 PM
    Author     : micae
*/

.center-text {
    text-align: center;
}

.columnWidth {
    width: 180px;
}

.rowMargin {
    margin-bottom: 8px;
}

.search-box {
    border: 1px solid lightgray; 
    border-radius: 5px; 
    width: 300px; 
    padding: 5px;
    margin-bottom: 15px;
}